.card-wrapper {
    height: 335px;
    width: 200px !important;
    padding: 10px;
    border: none;
  }
  .card-image,
  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-image > img {
    width: 200px ;
    height: 300px !important;
    border-radius: 12px 12px 0px 0px;
  }
  .card-title {
     margin-top: -11px;
    background: #13ae7e;
    border-radius: 0px 0px 12px 12px;
  }
  .slick-prev:before {
    color: black !important;
  }
  .slick-next:before {
    color: black !important;
  }