.card-wrapper {
    margin-top: 100px;
   width: 200px;
   height: 250px;
   filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.2));
   border-radius: 12px;
 }
.card {
    margin-left: 100px;
    margin-right: 100px;
}
.card-image > img {
   width: 200px;
   height: 300px;
   border: 8px solid #13ae7e;
   border-radius: 12px;
}