.slick-prev:before {
    color: black !important;
  }
  .slick-next:before {
    color: black !important;
  }
  .card-wrapper {
  }
  .card-size {
    margin-left: 200px;
    width: 70% !important;
    height: 400px ;
  }
  .card-part {
    display: flex;
    padding: 15px;
  }
  .card-image > img {
    width: 300px;
    height: 150px;
    /* margin-top: -100px; */
  }
  .card-description {
    padding: 15px;
  }
  ul {
    list-style-type: none;
  }
  .card-review {
    padding: 15px;
    display: flex;
  }
  .card-rating {
    width: 50%;
  }
  .card-button > button {
    background: #13ae7e;
    color: #ffffff;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-size: 18px;
    padding: 10px;
  }